<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WebapiExample" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Arthur\Documents\Visual Studio 2015\Projects\ProjetoWebAPI\ProjetoWebAPI.MVC\App_Data\WebapiExample.mdf;" providerName="System.Data.SqlClient" />
  <add name="modeldb" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\Arthur\Documents\Visual Studio 2015\Projects\ProjetoWebAPI\ProjetoWebAPI.MVC\App_Data\WebapiExample.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="WebapiExampleEntities" connectionString="metadata=res://*/Model.model.csdl|res://*/Model.model.ssdl|res://*/Model.model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\WebapiExample.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
